/* colors and themes*/
:root{
    --white: rgb(255, 255, 255);
    --background: #fcf4dd;
    --primary: #f1b96a;
    --secondary: #f1b96a;
    --secondDark: #b98e52;
    --third: #ffc7d68e;
    --dark: #162e33;
    --red: #de050589;
    --green: #0e702aac;

    --primary_font: Arial;
    --secondary_font: sans-serif;
};

/* colors */

.white {
    background-color: var(--white);
}
.dark {
    background-color: var(--dark);
    color: var(--white);
}

.background {
    background-color: var(--background);
}

.header-content{
    margin: 1rem;
    padding: 1rem;
    background-color: var(--background);
    grid-template-columns: auto;
}

#joinNow{
    background-color: var(--secondary);
    color: var(--white);
}

#joinNow:hover{
    background-color: var(--primary);
    color: var(--white);
}

section{
    border-radius: 1rem;
    padding: 1rem;
    margin: 5px;
}
.hover:hover {box-shadow: none;}


/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 1rem;
}
.right_group{
  margin-top: 1rem;
  right: 3rem;
}

#menu::before {
	content: "☰";
}
.open_background{
  background-color: #eee;
  padding: 2rem;
  width: 88%;
}
#menu.open::before{
	content: "❌";
}
.topnav {
	display: none;
}
.topnav a {
	display: block;
	padding: 1rem;
	text-decoration: none;
	color: black;
  font-size: 1.5rem;
  border: 1px solid var(--dark);
  width: 7rem;
}
.topnav a:hover {
	background-color: var(--secondary);
	color: var(--white);
	font-weight: 700;
}
.open {
	display: block;
	width: 88%;
}
.open a {
  background-color: #eee;

}
/* know is on here ----------------------*/

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.box {
    border: 1px solid var(--dark);
    border-radius: 10px;
    padding: .5rem;
}


/* Top navigation bar styles */
.topnav {
    overflow: hidden;
}

  /* Style the top navigation links */
  .topnav a {
    left: 200px;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change color on hover */
  .topnav a:hover {
    background-color: var(--secondary);
  }

  .image-container img {
    margin-right: 20px; /* Adjust the margin as needed */
  }
  .image-container p{
    font-size: 20px;
  }

  .highlight-section {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }

  .highlight-item {
    flex: 1;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }

  .highlight-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  #inventory {
    align-items: center;
    text-align: center;
    background-color: var(--third);
    padding: .5rem;

}

#highlight {
  border: .5px solid var(--primary);
  display: flex;
  flex-wrap: wrap;
  border-color: var(--third);
  border-width: 5px;

}
#inventory {
  border: .5px solid var(--primary);
  display: flex;
  flex-wrap: wrap;
  border-color: var(--third);
  border-width: 5px;

}
#drop_items{
  background-color: var(--third);
  width: 100%;
  padding: 1rem;
}
.box-pink{
  border: 5px solid var(--third);
  margin: 1rem;
}
.box-pink h2{
  background-color: var(--third);
  padding: 1rem;
}

footer{
 margin: 1rem;
}

/* -------------------- Buy html ------------- */
#billing {
  display: block;
}


form h3 {
  margin-top: 1rem;
  margin-bottom: 0rem;
  padding: 1rem;
  width: 100%;
  max-width: 30rem;
}

form label.top, form div{
  display: block;
  color: black;
  padding-top: 1rem;
  font-size: .8rem;
}

#buyform{
  background-color: var(--dark);
}

form label.top input, form label.top select {
  display: block;
  font-size: 1rem;
  border: solid 1px black;
  border-radius: 4px;
  padding: .7rem;
  color: black;
  width: 80%;
  max-width: 30rem;
  background-color: rgba(255, 255, 255, 0.461);
}

form label.top input:required{
  border-left: var(--red) solid 6px;
}

form label.top input:required:valid{
  border-left: var(--green) solid 6px;
}

.buttons{
  /* border: none; */
  background-color: var(--secondary);
  color: white;
  border-color: var(--secondary);
  border-radius: 1rem;
  padding: .75rem;
  margin: 0 0 2rem 2%;
  width: 94%;
  max-width: 20rem;;
}

.buttons:hover{
  border-color: white;
  border-bottom-color: white;
  border-right-color: white;
}

.right-section{
  display: none;
  text-align: center;
  position: relative;
}

.buyimg {
    position: absolute;
    margin: 10px; /* Adjust the margin between the images as needed */
}
#imgbuy1{
  top: 8rem;
  left: 2rem;
}
#imgbuy2{
  top: 26rem;
  right: 2rem;
}
#imgbuy3{
  top: 44rem;
  left: 1.5rem;
}
#imgbuy4{
  top: 62rem;
  right: 3rem;
}
#imgbuy5{
  top: 80rem;
  left: 10px;
}

#stuffed_animals{
  text-align: center;

}
.contact h3 a{
  color: var(--dark);
}
.contact h3 a:hover{
  color: var(--secondary);

}
#profile_pic{
  width: 80%;
  min-width: 200px;
  height: 80%;
}