@media (min-width: 1300px) {
    .containor{
        display:flex;
        justify-content: space-between;
    }

    .left-section{
        flex:1;
    }

    .right-section{
        flex: 1;
        display: block;
    }

}