/* colors and themes*/
:root{
    --white: #f0f3f5;
    --primary: #7b2d26;
    --secondary: #0b7a75;
    --background: #d7c9aa;
    --dark: #08181b;
    --black: black;

    --primary_font: Arial;
    --secondary_font: sans-serif;
};

/* colors */

.primaryColor {
    background-color: var(--primary);
    color: var(--white);
}

.secondary {
    background-color: var(--secondary);
    color: var(--white);
}
.white {
    background-color: var(--white);
}
.background {
    background-color: var(--background);
}
.dark {
    background-color: var(--dark);
    color: var(--white);
}

.header-content{
    margin: 1rem;
    padding: 1rem;
    background-color: var(--background);
    grid-template-columns: auto;
}

#joinNow{
    background-color: var(--secondary);
    color: var(--white);
}

#joinNow:hover{
    background-color: var(--primary);
    color: var(--white);
}

section{
    border-radius: 1rem;
    padding: 1rem;
    margin: 5px;
}
.hover:hover {box-shadow: none;}


/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 1 rem;
}
.right_group{
    right: 0;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-decoration: none;
	color: black;
}
.navigation li a:hover {
	background-color: var(--secondary);
	color: var(--white);
	font-weight: 700;
}

.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;

}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: var(--secondary);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--white);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.weather-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    background-color: var(--secondary);
    color: var(--white);
}

#large_hero_name, #medium_hero_name{
    display: none;
}

.details {
    flex-grow: 1;
}


.calendar {
    font-family: Arial, sans-serif;
}

.month {
    text-align: center;
    background-color: var(--secondary);
    color: white;
    padding: 10px;
}

.month h2 {
    margin: 0;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    text-align: center;
    padding: 10px;
    border: 1px solid var(--white);
}

.day:hover {
    background-color: var(--primary);
    color: var(--white)
}


.hero_container {
    position: relative;
    display: inline-block;
    margin: 10px; /* Adjust this as needed */
}
.hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 300px;
}

.herolabel {
	position: absolute;
	top: 220px;
	left: 30px;
	background-color: var(--background);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 2rem;
	font-family:"Great Vibes", serif;
}
.hero_image {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Background color for the overlay */
    color: white; /* Text color for the overlay */
    padding: 10px;
    text-align: center;
}


.dis_img {
    width: 400px;
    margin: .5rem;
    height: auto;
    display: block;
    background: black;
    animation:  fade 15s;
}

@keyframes fade{
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}



form fieldset {
    margin: 2rem 0;
    border: 1 px solid black;
    border-radius: 10px;
    padding: .5rem 2%;

}
form legend {
    color: black;
    margin: 0 1rem;
    padding: 1rem;
}

form label.top, form div{
    display: block;
    color: black;
    padding-top: 1rem;
    font-size: .8rem;
}

form label.top input, form label.top select, #memberlevel {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px black;
    border-radius: 4px;
    padding: .7rem;
    color: black;
    width: 100%;
    max-width: 20rem;
    background-color: #d8d7d7;
}

form input.submitBtn {
    border: none;
    background-color: var(--secondary);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;;
}

form input.submitBtn:hover {
    background-color: #084744;
    color: white;
}
form label.top input:required{
    border-left: var(--secondary) solid 6px;
}

form label.top input:required:valid{
    border-left: green solid 6px;
}

#thankyou{
    padding:2rem;
    margin:1rem;
    text-align: center;
}



/* directory page */
.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: .1;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: #08645f;
}


.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.grid section {
	text-align: center;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.grid section > * {
	margin: 0.1rem;
}

.grid h3 {
	font-family: "Caveat", cursive;
}

.card{
    background-color: #0b7a75;
    color: var(--white);
}
